.main {
  padding: 64px 0;
}

.image {
  border-radius: var(--chakra-radii-lg);
}

@media only screen and (max-width: 600px) {
  .box > div > div > img,
  .image {
    min-height: 120px !important;
    max-height: 120px !important;
    min-width: 120px !important;
    max-width: 120px !important;
  }
}

